@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Cinema Website</h1>
    <p>This website manages data of movies and cinema rooms. 
       The user can find out which movie is currently playing in which cinema room.</p>
</div>
